# Servidor
PORT=5000
NODE_ENV=development

# Base de Datos (MongoDB)
MONGODB_URI=mongodb://localhost:27017/comfutura

# Seguridad (JWT)
JWT_SECRET=super_secret_jwt_key_change_me_in_production_123456
JWT_EXPIRES_IN=7d

# Configuración de Cloudinary (Credenciales)
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Administrador Inicial Autogenerado (Seeder automático)
INITIAL_ADMIN_EMAIL=admin@comfutura.com
INITIAL_ADMIN_PASSWORD=AdminComFutura2026!
